                <li class="menu-title" style="color: white">App-Admin-UI</li><!-- /.menu-title -->
                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_List</a>
                </li>                <li class="menu-title" style="color: white">App-Admin-View</li><!-- /.menu-title -->
                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_List</a>
                </li>                <li class="menu-title" style="color: white">App-Admin-Table</li><!-- /.menu-title -->
                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_Category_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_Category_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity1_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity1_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity2_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity2_List</a>
                </li>                <li class="active" style="background: black" >
                    <a href="{% url 'C1_Fuschia_D2L1_MyWork_Entity3_List' %}"><i class="menu-icon fa fa-laptop"></i>C1_Fuschia_D2L1_MyWork_Entity3_List</a>
                </li>